/* @import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&family=Tiro+Gurmukhi&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Edu QLD Beginner", cursive;
}

.main-heading {
  height: 15vh;
  width: 100%;
  background-color: rgb(230, 230, 230);
  color: deeppink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 3rem;
}

.header{
  background-color: teal;
  width:100%;
  height:20vh;
}

.footer{
  background-color: indigo;
  width:100%;
  height:10vh;
  text-align: center;
}